
body {
    background-color: #D6D6D6;
    display: flex;
    justify-content: center;
}


#main {
    width: 200px;
    display: flex;
    }

p, img {
    margin: 0px 10px;
}


#img {
border-radius: 50px;
}